{{#extend "layouts/default"}}
    {{#content "body_content"}}
        <div class="posts">
            {{#each articles}}
                <div class="post">
                    <h2 class="post-title">
                        {{this.title}}
                    </h2>
                    <span class="post-date">{{formatDate this.created "%m/%d/%Y"}}</span>
                    <div class="post-body">
                        {{this.body}}
                    </div>
                </div>
                {{#unless @last}}
                    <hr>
                {{/unless}}
            {{else}}
                <div class="alert alert-danger" role="alert">
                    <strong>Oh snap!</strong> This blog does not contain any articles yet.
                </div>
            {{/each}}
        </div>
    {{/content}}
{{/extend}}